In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_col
import matplotlib.pyplot as plt
%matplotlib inline
pd.core.common.is_list_like = pd.api.types.is_list_like
#dsf.isnull().sum()import pandas_datareader as pdr
import datetime
from scipy import stats
import random

In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_col
import matplotlib.pyplot as plt
%matplotlib inline
pd.core.common.is_list_like = pd.api.types.is_list_like
#import pandas_datareader.data as web
import datetime as dt
from scipy import stats
import random

In [3]:
import numpy as np
from pandas import Series, DataFrame
from pandas.tseries.offsets import MonthEnd
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import datetime
plt.rc('figure', figsize=(12, 10))
from numpy.linalg import inv
from numpy import dot
from openpyxl import Workbook

In [4]:
Bonds = pd.read_csv('Bond.csv')
Bonds['Date'] = pd.to_datetime(Bonds.Date.astype('str'))
Bonds = Bonds.set_index('Date')
Bonds.tail()

,Ask Price (SRC: CBBT),Ask Yield to Maturity (SRC: CBBT),Green,ID,Return,Credit Rating
Date,,,,,,
2017-05-25,96.1437,3.3425,0,87,-0.000672,BBB
2017-05-24,96.1176,3.3467,0,87,-0.000271,BBB
2017-05-23,95.9224,3.3790,0,87,-0.002031,BBB
2017-05-22,96.0219,3.3617,0,87,0.001037,BBB
2017-05-19,96.0417,3.3581,0,87,0.000206,BBB

In [5]:
ffdaily = pd.read_csv('ffdaily.csv')
ffdaily['date'] = pd.to_datetime(ffdaily.date.astype('str'))
ffdaily['Date'] = ffdaily['date']
ffdaily = ffdaily.drop('date', axis=1)
ffdaily = ffdaily.set_index('Date')
ffdaily = ffdaily.drop(['TERM', 'DEF', 'Inflation1'], axis=1)

In [6]:
term = pd.read_csv('term.csv')
term['date'] = pd.to_datetime(term.date.astype('str'))
term = term.set_index('date')
def1 = pd.read_csv('def.csv')
def1['date'] = pd.to_datetime(def1.date.astype('str'))
def1 = def1.set_index('date')

In [7]:
bfactors = term.join(def1)
bfactors = bfactors.reset_index()
bfactors['Date'] = bfactors['date']
bfactors = bfactors.drop(['date'], axis =1)
bfactors['Date'] = pd.to_datetime(bfactors.Date.astype('str'))
bfactors= bfactors.set_index('Date')

In [8]:
Bonds = Bonds.join(ffdaily)

In [9]:
Bonds = Bonds.join(bfactors)

In [10]:
Bonds.tail()

,Ask Price (SRC: CBBT),Ask Yield to Maturity (SRC: CBBT),Green,ID,Return,Credit Rating,Mkt-RF,SMB,HML,RF,MOM,Inflation,TERM,DEF
Date,,,,,,,,,,,,,,
2019-12-04,102.5934,2.4292,0,83,0.001276,AAA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-04,91.4658,2.7670,0,84,-0.002932,AAA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-04,95.6801,3.5234,0,85,-0.000996,AAA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-04,97.8730,3.0939,0,86,-0.000292,AAA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-04,96.6728,3.4468,0,87,0.000023,BBB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
Bonds= Bonds.dropna()

In [12]:
Bonds.tail()

,Ask Price (SRC: CBBT),Ask Yield to Maturity (SRC: CBBT),Green,ID,Return,Credit Rating,Mkt-RF,SMB,HML,RF,MOM,Inflation,TERM,DEF
Date,,,,,,,,,,,,,,
2019-03-29,103.1636,2.3112,0,83,0.003212,AAA,-0.82,-1.29,0.19,0.01,-0.01,0.0188,1.02,-0.01
2019-03-29,92.0880,2.5737,0,84,0.003150,AAA,-0.82,-1.29,0.19,0.01,-0.01,0.0188,1.02,-0.01
2019-03-29,96.0264,3.4652,0,85,0.002637,AAA,-0.82,-1.29,0.19,0.01,-0.01,0.0188,1.02,-0.01
2019-03-29,98.3301,2.9394,0,86,0.002489,AAA,-0.82,-1.29,0.19,0.01,-0.01,0.0188,1.02,-0.01
2019-03-29,97.0038,3.3663,0,87,0.002695,BBB,-0.82,-1.29,0.19,0.01,-0.01,0.0188,1.02,-0.01

In [13]:
Bonds['AP'] = Bonds['Ask Price (SRC: CBBT)']

In [14]:
Bonds['YTM'] = Bonds['Ask Yield to Maturity (SRC: CBBT)']/100

In [15]:
Bonds['TERM'] = Bonds['TERM']/100

In [16]:
Bonds = Bonds.drop(['Ask Price (SRC: CBBT)', 'Ask Yield to Maturity (SRC: CBBT)'], axis = 1)

In [17]:
Bonds['exr'] = Bonds['Return'] - Bonds['RF']

In [18]:
Bonds['month'] = (Bonds.index.day-8)//10+1

In [19]:
Bonds["Credit Rating"] = Bonds["Credit Rating"].astype('category')
Bonds["ID"] = Bonds["ID"].astype('int')
Bonds["CR"] = Bonds["Credit Rating"].cat.codes
Bonds.tail()

,Green,ID,Return,Credit Rating,Mkt-RF,SMB,HML,RF,MOM,Inflation,TERM,DEF,AP,YTM,exr,month,CR
Date,,,,,,,,,,,,,,,,,
2019-03-29,0,83,0.003212,AAA,-0.82,-1.29,0.19,0.01,-0.01,0.0188,0.0102,-0.01,103.1636,0.023112,-0.006788,3,2
2019-03-29,0,84,0.003150,AAA,-0.82,-1.29,0.19,0.01,-0.01,0.0188,0.0102,-0.01,92.0880,0.025737,-0.006850,3,2
2019-03-29,0,85,0.002637,AAA,-0.82,-1.29,0.19,0.01,-0.01,0.0188,0.0102,-0.01,96.0264,0.034652,-0.007363,3,2
2019-03-29,0,86,0.002489,AAA,-0.82,-1.29,0.19,0.01,-0.01,0.0188,0.0102,-0.01,98.3301,0.029394,-0.007511,3,2
2019-03-29,0,87,0.002695,BBB,-0.82,-1.29,0.19,0.01,-0.01,0.0188,0.0102,-0.01,97.0038,0.033663,-0.007305,3,3

In [20]:
Bonds.to_csv(r'Downloads\Cleaned Dataset.csv')

In [21]:
def ols_res(df, xcols,  ycol):
    X = df[xcols]
    Y = sm.add_constant(X)
    return sm.OLS(df[ycol], X).fit().params

In [22]:
def ols_res1(df, xcols,  ycol):
    X = df[xcols]
    Y = sm.add_constant(X)
    return sm.OLS(df[ycol], X).fit().pvalues

In [23]:
portbeta = Bonds.groupby(['ID','month']).apply(ols_res, ['Mkt-RF', 'Green'], ['exr'])
portbeta1 = Bonds.groupby(['ID','month']).apply(ols_res1, ['Mkt-RF', 'Green'], ['exr'])
portbeta = pd.DataFrame(portbeta)
portbeta['beta'] = portbeta['Mkt-RF']
portbeta['betag'] = portbeta['Green']
portbeta = portbeta.drop(['Mkt-RF', 'Green'], axis =1)
portbeta.head()

              beta     betag
ID month
1  0      0.000716 -0.007071
   1      0.001481 -0.005085
   2     -0.000042 -0.005883
   3     -0.000498 -0.005573
2  0      0.000687 -0.007040

In [24]:
rk = lambda x: pd.Series(pd.qcut(x,10,labels=False),index=x.index)
portbeta['port'] = portbeta.groupby(level=['month'])['beta'].apply(rk)
portbeta.head()

              beta     betag  port
ID month
1  0      0.000716 -0.007071     1
   1      0.001481 -0.005085     0
   2     -0.000042 -0.005883     8
   3     -0.000498 -0.005573     7
2  0      0.000687 -0.007040     1

In [25]:
Bonds1 = Bonds.reset_index().merge(portbeta, how='inner', on=['ID', 'month']).set_index('Date')
Bonds1.tail()

,Green,ID,Return,Credit Rating,Mkt-RF,SMB,HML,RF,MOM,Inflation,TERM,DEF,AP,YTM,exr,month,CR,beta,betag,port
Date,,,,,,,,,,,,,,,,,,,,
2019-01-28,0,50,-0.000705,AAA,-2.31,0.51,1.83,0.01,-0.50,0.0178,0.0114,0.00,103.5431,0.032569,-0.010705,3,2,-0.001154,0.0,3
2019-01-29,0,50,-0.002370,AAA,3.47,0.32,-1.10,0.01,-0.40,0.0178,0.0115,0.01,103.6162,0.032334,-0.012370,3,2,-0.001154,0.0,3
2019-02-28,0,50,0.001394,AAA,0.44,-0.17,-0.53,0.01,0.73,0.0195,0.0096,-0.01,103.6527,0.031920,-0.008606,3,2,-0.001154,0.0,3
2019-03-28,0,50,0.000191,AAA,-0.18,-0.30,-0.18,0.01,0.04,0.0183,0.0103,0.00,104.1383,0.030098,-0.009809,3,2,-0.001154,0.0,3
2019-03-29,0,50,0.002277,AAA,-0.82,-1.29,0.19,0.01,-0.01,0.0188,0.0102,-0.01,104.1184,0.030151,-0.007723,3,2,-0.001154,0.0,3

In [26]:
portmeanret = Bonds1.groupby([Bonds.index.get_level_values(0), 'port','month'])['exr','YTM', 'Mkt-RF','CR','Green'].mean()
portmeanret = portmeanret.reset_index()
portmeanret = portmeanret.set_index(['month', 'port'])
portmeanret.tail()

                 Date       exr       YTM    Mkt-RF   CR  Green
month port
3     4    2019-03-28 -0.009103  0.034592  0.224848  2.0      0
      5    2019-03-28 -0.005413  0.036580  0.124074  3.0      0
      6    2019-03-28  0.000036  0.021385 -0.060000  0.0      0
      3    2019-03-29 -0.005688  0.030415  0.110222  2.0      0
      6    2019-03-29 -0.005748  0.028991  0.101163  0.0      0

In [27]:
portbetahut = portmeanret.groupby(['month', 'port']).apply(ols_res, ['Mkt-RF', 'Green'], ['exr'])
portbetahut11 = portmeanret.groupby(['month', 'port']).apply(ols_res1, ['Mkt-RF', 'Green'], ['exr'])
portbetahut = DataFrame(portbetahut)
portbetahut['beta'] = portbetahut['Mkt-RF']
portbetahut['betag'] = portbetahut['Green']
portbetahut = portbetahut.drop(['Mkt-RF', 'Green'], axis =1)
portbetahut.tail()

                beta     betag
month port
3     5    -0.029030  0.000000
      6    -0.028534 -0.002284
      7     0.002758 -0.006058
      8    -0.002617 -0.004631
      9    -0.028149 -0.001583

In [28]:
portbetamean = portbeta.reset_index().groupby(['month', 'port'])['beta', 'betag'].mean()
portbetamean = DataFrame(portbetamean)
portbetamean.tail()

                beta     betag
month port
3     5    -0.000990  0.000000
      6    -0.000699 -0.003100
      7    -0.000507 -0.005598
      8    -0.000448 -0.005451
      9    -0.000176 -0.004690

In [29]:
portmeanret = portmeanret.join(portbetahut)

In [30]:
portmeanret = portmeanret.reset_index()
portmeanret = portmeanret.set_index(['Date'])
portmeanret.head(3)

,month,port,exr,YTM,Mkt-RF,CR,Green,beta,betag
Date,,,,,,,,,
2017-02-06,0,0,-0.006883,0.031452,-0.046452,0.0,1,-0.018806,-0.007341
2017-02-08,0,0,-0.007262,0.029192,-0.023548,0.0,1,-0.018806,-0.007341
2017-04-12,0,0,-0.006755,0.029302,-0.054074,1.0,1,-0.018806,-0.007341

In [31]:
def ols_beta(df, xcols,  ycol):
    X = df[xcols]
    X = sm.add_constant(X)
    return sm.OLS(df[ycol], X).fit().params

In [32]:
def ols_beta1(df, xcols,  ycol):
    X = df[xcols]
    X = sm.add_constant(X)
    return sm.OLS(df[ycol], X).fit().pvalues

In [33]:
def ols_beta2(df, xcols,  ycol):
    X = df[xcols]
    Y = sm.add_constant(X)
    return sm.OLS(df[ycol], X).fit().rsquared_adj

In [34]:
df2 = DataFrame(portmeanret.groupby(['month']).apply(ols_beta, ['beta', 'betag'], ['exr']))
df21 = DataFrame(portmeanret.groupby(['month']).apply(ols_beta1, ['beta', 'betag'], ['exr']))
df22 = DataFrame(portmeanret.groupby(['month']).apply(ols_beta2, ['beta', 'betag'], ['exr']))
df2

          const      beta     betag
month
0     -0.006666 -0.004997 -0.019262
1     -0.005253 -0.000536 -0.031445
2     -0.005165  0.011504  0.087335
3     -0.005282 -0.004175  0.032754

In [35]:
df21

              const      beta     betag
month
0      1.130323e-09  0.773584  0.899784
1      1.969704e-04  0.992901  0.860453
2      7.812059e-06  0.720391  0.710183
3      8.427472e-04  0.921141  0.913883

In [36]:
df22

              0
month
0      0.802562
1      0.591508
2      0.590294
3      0.672431

In [37]:
from scipy.stats import ttest_1samp
print('mean Beta:', df2.beta.mean())
ttest_1samp(df2.beta, 0)

mean Beta: 0.00044872030980911293

Ttest_1sampResult(statistic=0.1177603522531376, pvalue=0.9136994167921139)

In [38]:
print('mean BetaG:', df2.betag.mean())
ttest_1samp(df2.betag, 0)

mean BetaG: 0.017345628086909565

Ttest_1sampResult(statistic=0.6384820706657636, pvalue=0.5685620500782665)

In [39]:
print('mean const:', df2.const.mean())
ttest_1samp(df2.const, 0)

mean const: -0.005591499095739319

Ttest_1sampResult(statistic=-15.569021531968291, pvalue=0.0005758031770352289)

In [40]:
portbeta1 = Bonds.groupby(['month', 'ID']).apply(ols_res, ['Mkt-RF', 'Green', 'SMB', 'HML'], ['exr'])
portbeta1 = pd.DataFrame(portbeta1)
portbeta1['beta'] = portbeta1['Mkt-RF']
portbeta1['betag'] = portbeta1['Green']
portbeta1['betasmb'] = portbeta1['SMB']
portbeta1['betahml'] = portbeta1['HML']
portbeta1 = portbeta1.drop(['Mkt-RF', 'Green', 'SMB', 'HML'], axis =1)
portbeta1.tail()

              beta         betag   betasmb   betahml
month ID
3     83 -0.001166 -3.363840e-19 -0.000150 -0.000733
      84 -0.001171 -7.691135e-20  0.000100 -0.000760
      85 -0.000880  4.836479e-19 -0.000568 -0.000501
      86 -0.001294  1.038786e-19 -0.000117 -0.000746
      87 -0.001102 -4.102398e-21  0.000009 -0.000600

In [41]:
rk = lambda x: pd.Series(pd.qcut(x,10,labels=False),index=x.index)
portbeta1['port1'] = portbeta1.groupby(level=['month'])['beta'].apply(rk)
portbeta1.head()

              beta     betag   betasmb   betahml  port1
month ID
0     1   0.000634 -0.007180  0.000291 -0.000761      2
      2   0.000651 -0.007105  0.000337 -0.000488      2
      3   0.000682 -0.007180  0.000330 -0.000525      3
      4   0.000628 -0.007177  0.000329 -0.000824      2
      5   0.000680 -0.007187  0.000321 -0.000536      3

In [42]:
Bonds2 = Bonds.reset_index().merge(portbeta1, how='inner', on=['ID']).set_index('Date')
Bonds2.head()

,Green,ID,Return,Credit Rating,Mkt-RF,SMB,HML,RF,MOM,Inflation,...,AP,YTM,exr,month,CR,beta,betag,betasmb,betahml,port1
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-06,1,1,-0.000425,AAA,-0.92,-0.41,-0.67,0.0,-0.37,0.0196,...,100.6299,0.014770,-0.000425,0,2,0.000634,-0.007180,0.000291,-0.000761,2
2017-01-06,1,1,-0.000425,AAA,-0.92,-0.41,-0.67,0.0,-0.37,0.0196,...,100.6299,0.014770,-0.000425,0,2,0.001258,-0.005067,-0.000214,-0.001014,1
2017-01-06,1,1,-0.000425,AAA,-0.92,-0.41,-0.67,0.0,-0.37,0.0196,...,100.6299,0.014770,-0.000425,0,2,0.000606,-0.005774,0.000040,0.001797,7
2017-01-06,1,1,-0.000425,AAA,-0.92,-0.41,-0.67,0.0,-0.37,0.0196,...,100.6299,0.014770,-0.000425,0,2,-0.000934,-0.005926,-0.002921,-0.001846,7
2017-01-09,1,1,-0.000910,AAA,0.40,0.18,0.10,0.0,-0.48,0.0195,...,100.5133,0.015012,-0.000910,1,2,0.000634,-0.007180,0.000291,-0.000761,2

In [43]:
portmeanret1 = Bonds2.groupby([Bonds2.index.get_level_values(0),'port1','month'])['exr','YTM', 'Mkt-RF','HML', 'SMB','Green', 'CR' ].mean()
portmeanret1 = portmeanret1.reset_index()
portmeanret1 = portmeanret1.set_index(['month', 'port1'])
portmeanret1.tail()

                  Date       exr       YTM  Mkt-RF   HML   SMB     Green  \
month port1
3     5     2019-03-29 -0.007649  0.029942   -0.82  0.19 -1.29  0.205882
      6     2019-03-29 -0.008047  0.030441   -0.82  0.19 -1.29  0.236842
      7     2019-03-29 -0.008780  0.029552   -0.82  0.19 -1.29  0.454545
      8     2019-03-29 -0.008785  0.030333   -0.82  0.19 -1.29  0.333333
      9     2019-03-29 -0.007420  0.030463   -0.82  0.19 -1.29  0.551724

                   CR
month port1
3     5      1.911765
      6      2.052632
      7      1.787879
      8      1.794872
      9      1.793103

In [44]:
portbetahut1 =portmeanret1.groupby(['month', 'port1']).apply(ols_res, ['Mkt-RF', 'Green', 'SMB', 'HML'], ['exr'])
portbetahut1 = DataFrame(portbetahut1)

In [45]:
portbetahut1['beta'] = portbetahut1['Mkt-RF']
portbetahut1['betag'] = portbetahut1['Green']
portbetahut1['betasmb'] = portbetahut1['SMB']
portbetahut1['betahml'] = portbetahut1['HML']
portbetahut1 = portbetahut1.drop(['Mkt-RF', 'Green', 'SMB', 'HML'], axis =1)
portbetahut1.tail()

                 beta     betag   betasmb   betahml
month port1
3     5     -0.000784 -0.027942 -0.003183 -0.001666
      6     -0.000825 -0.024044 -0.003085 -0.001629
      7     -0.000843 -0.012803 -0.003032 -0.001697
      8     -0.000870 -0.017446 -0.003024 -0.001693
      9     -0.000770 -0.010549 -0.003391 -0.001756

In [46]:
portbetamean1 = portbeta1.reset_index().groupby(['port1', 'month'])['beta', 'betag','betasmb', 'betahml'].mean()
portbetamean1 = DataFrame(portbetamean1)
portbetamean1.tail()

                 beta         betag   betasmb   betahml
port1 month
8     3     -0.000856 -5.865233e-03 -0.003052 -0.001698
9     0      0.002058 -4.874897e-21  0.001985  0.003449
      1      0.002143  3.884397e-19 -0.001985 -0.001274
      2      0.000927 -5.209262e-03 -0.000022  0.001972
      3     -0.000432 -5.059984e-03 -0.003146 -0.001118

In [47]:
portmeanret1 = portmeanret1.join(portbetahut1)
portmeanret1.head(3)

                  Date       exr       YTM  Mkt-RF   HML   SMB     Green  \
month port1
0     0     2017-01-06 -0.001464  0.026605   -0.92 -0.67 -0.41  0.435897
      0     2017-02-06  0.000447  0.026332   -0.29 -0.69 -0.41  0.435897
      0     2017-03-07 -0.000707  0.027726    0.43  0.34  0.30  0.459459

                   CR      beta     betag   betasmb   betahml
month port1
0     0      1.615385  0.000645 -0.015332  0.000088 -0.000766
      0      1.615385  0.000645 -0.015332  0.000088 -0.000766
      0      1.594595  0.000645 -0.015332  0.000088 -0.000766

In [48]:
df3 = DataFrame(portmeanret1.groupby(['month']).apply(ols_beta, ['beta', 'betag','betasmb', 'betahml'], ['exr']))
df31 = DataFrame(portmeanret1.groupby(['month']).apply(ols_beta1,['beta', 'betag','betasmb', 'betahml'], ['exr']))
df32 = DataFrame(portmeanret1.groupby(['month']).apply(ols_beta2,['beta', 'betag','betasmb', 'betahml'], ['exr']))
df3
#df31.head()

          const      beta     betag   betasmb   betahml
month
0     -0.007842  0.817020 -0.002766  0.147709 -0.224716
1     -0.005529  0.186062  0.000583  0.269800 -0.133298
2     -0.005495 -0.341689  0.001448  0.104569 -0.099319
3     -0.005235 -0.606529  0.003587 -0.559885  1.437325

In [49]:
df31

          const      beta     betag   betasmb   betahml
month
0      0.268684  0.920331  0.942655  0.966426  0.914006
1      0.266322  0.903941  0.982856  0.921827  0.966585
2      0.097599  0.929537  0.951540  0.977240  0.874325
3      0.675033  0.963280  0.940985  0.911674  0.878843

In [50]:
df32 = df32.T
df32

month         0         1         2         3
0      0.709505  0.500264  0.570029  0.522234

In [51]:
from scipy.stats import ttest_1samp
print('mean Beta:', df3.const.mean())
ttest_1samp(df3.const, 0)

mean Beta: -0.006025090392642914

Ttest_1sampResult(statistic=-9.889535426810193, pvalue=0.0021987908561901404)

In [52]:
print('mean Beta:', df3.beta.mean())
ttest_1samp(df3.beta, 0)

mean Beta: 0.013715894247052496

Ttest_1sampResult(statistic=0.043628417527179206, pvalue=0.9679420817309244)

In [53]:
print('mean Beta:', df3.betag.mean())
ttest_1samp(df3.betag, 0)

mean Beta: 0.0007129525128345089

Ttest_1sampResult(statistic=0.5399399927146077, pvalue=0.626742744774055)

In [54]:
print('mean Beta:', df3.betasmb.mean())
ttest_1samp(df3.betasmb, 0)

mean Beta: -0.009451830185273763

Ttest_1sampResult(statistic=-0.05060305466940773, pvalue=0.9628225828214937)

In [55]:
print('mean Beta:', df3.betahml.mean())
ttest_1samp(df3.betahml, 0)

mean Beta: 0.2449980819972713

Ttest_1sampResult(statistic=0.6150733864579127, pvalue=0.5820155733151029)

In [56]:
portbeta2 = Bonds.groupby(['month', 'ID']).apply(ols_res, ['Mkt-RF', 'Green', 'SMB', 'HML', 'MOM', 'TERM', 'DEF', 'Inflation'], ['exr'])
portbeta2 = pd.DataFrame(portbeta2)
portbeta2['beta'] = portbeta2['Mkt-RF']
portbeta2['betag'] = portbeta2['Green']
portbeta2['betasmb'] = portbeta2['SMB']
portbeta2['betahml'] = portbeta2['HML']
portbeta2['betamom'] = portbeta2['MOM']
portbeta2['betatrm'] = portbeta2['TERM']
portbeta2['betadef'] = portbeta2['DEF']
portbeta2['betainf'] = portbeta2['Inflation']
portbeta2 = portbeta2.drop(['Mkt-RF', 'Green', 'SMB', 'HML','MOM', 'TERM', 'DEF', 'Inflation'], axis =1)
portbeta2.tail()

              beta         betag   betasmb   betahml   betamom   betatrm  \
month ID
3     83 -0.000483  1.529776e-17 -0.003453 -0.001376 -0.001257  0.553628
      84 -0.000476 -7.578460e-16 -0.003296 -0.001427 -0.001383  0.575178
      85 -0.000298 -8.446123e-16 -0.003928 -0.001028 -0.001213  0.646896
      86 -0.000596 -6.912004e-16 -0.003358 -0.001397 -0.001160  0.521946
      87 -0.000481 -7.389410e-16 -0.003438 -0.001246 -0.001350  0.556054

           betadef   betainf
month ID
3     83 -0.031950 -0.688703
      84 -0.033114 -0.711471
      85 -0.005975 -0.741360
      86 -0.036410 -0.665247
      87 -0.014784 -0.693089

In [57]:
rk = lambda x: pd.Series(pd.qcut(x,10,labels=False),index=x.index)
portbeta2['port2'] = portbeta2.groupby(level=['month'])['beta'].apply(rk)
portbeta2.head()

              beta     betag   betasmb   betahml   betamom   betatrm  \
month ID
0     1   0.000110  0.001474  0.000238 -0.001129  0.000904  0.432256
      2   0.000181  0.001902  0.000282 -0.000739  0.000591  0.419237
      3   0.000162  0.002014  0.000264 -0.000871  0.000816  0.427390
      4   0.000106  0.000948  0.000275 -0.001211  0.000943  0.423320
      5   0.000161  0.002074  0.000255 -0.000882  0.000822  0.425148

           betadef   betainf  port2
month ID
0     1  -0.030908 -0.713670      6
      2  -0.035286 -0.722579      7
      3  -0.035496 -0.737892      7
      4  -0.029232 -0.681614      5
      5  -0.035417 -0.739792      7

In [58]:
Bonds3 = Bonds.reset_index().merge(portbeta2, how='inner', on=['ID']).set_index('Date')
Bonds3.head()

,Green,ID,Return,Credit Rating,Mkt-RF,SMB,HML,RF,MOM,Inflation,...,CR,beta,betag,betasmb,betahml,betamom,betatrm,betadef,betainf,port2
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-06,1,1,-0.000425,AAA,-0.92,-0.41,-0.67,0.0,-0.37,0.0196,...,2,0.000110,0.001474,0.000238,-0.001129,0.000904,0.432256,-0.030908,-0.713670,6
2017-01-06,1,1,-0.000425,AAA,-0.92,-0.41,-0.67,0.0,-0.37,0.0196,...,2,0.001170,0.022442,-0.000659,-0.000467,0.000209,0.383920,0.001013,-1.669535,8
2017-01-06,1,1,-0.000425,AAA,-0.92,-0.41,-0.67,0.0,-0.37,0.0196,...,2,0.000223,0.013478,0.000150,0.001406,0.000765,0.508456,-0.031253,-1.341253,1
2017-01-06,1,1,-0.000425,AAA,-0.92,-0.41,-0.67,0.0,-0.37,0.0196,...,2,-0.000638,0.011195,-0.002712,-0.001336,-0.000849,0.391180,-0.038226,-1.158327,4
2017-01-09,1,1,-0.000910,AAA,0.40,0.18,0.10,0.0,-0.48,0.0195,...,2,0.000110,0.001474,0.000238,-0.001129,0.000904,0.432256,-0.030908,-0.713670,6

In [59]:
portmeanret2 = Bonds3.groupby([Bonds3.index.get_level_values(0),'port2','month'])['exr','YTM', 'Mkt-RF','HML', 'SMB', 'MOM', 'DEF', 'TERM', 'Inflation', 'CR', 'Green'].mean()
portmeanret2 = portmeanret2.reset_index()
portmeanret2 = portmeanret2.set_index(['month', 'port2'])
portmeanret2.head()

                  Date       exr       YTM  Mkt-RF   HML   SMB   MOM   DEF  \
month port2
0     0     2017-01-06 -0.001583  0.028350   -0.92 -0.67 -0.41 -0.37 -0.03
      1     2017-01-06 -0.002002  0.026433   -0.92 -0.67 -0.41 -0.37 -0.03
      2     2017-01-06 -0.001165  0.026441   -0.92 -0.67 -0.41 -0.37 -0.03
      3     2017-01-06 -0.001325  0.025431   -0.92 -0.67 -0.41 -0.37 -0.03
      4     2017-01-06 -0.001159  0.022899   -0.92 -0.67 -0.41 -0.37 -0.03

              TERM  Inflation        CR     Green
month port2
0     0      0.014     0.0196  1.864865  0.351351
      1      0.014     0.0196  1.842105  0.263158
      2      0.014     0.0196  1.375000  0.375000
      3      0.014     0.0196  1.675676  0.324324
      4      0.014     0.0196  1.783784  0.135135

In [60]:
portbetahut2 = portmeanret2.groupby(['month', 'port2']).apply(ols_res, ['Mkt-RF', 'Green', 'SMB', 'HML','MOM', 'TERM', 'DEF', 'Inflation'], ['exr'])
portbetahut2 = pd.DataFrame(portbetahut2)
portbetahut2['beta'] = portbetahut2['Mkt-RF']
portbetahut2['betag'] = portbetahut2['Green']
portbetahut2['betasmb'] = portbetahut2['SMB']
portbetahut2['betahml'] = portbetahut2['HML']
portbetahut2['betamom'] = portbetahut2['MOM']
portbetahut2['betatrm'] = portbetahut2['TERM']
portbetahut2['betadef'] = portbetahut2['DEF']
portbetahut2['betainf'] = portbetahut2['Inflation']
portbetahut2 = portbetahut2.drop(['Mkt-RF', 'Green', 'SMB', 'HML','MOM', 'TERM', 'DEF', 'Inflation'], axis =1)
portbetahut2.tail()

                 beta     betag   betasmb   betahml   betamom   betatrm  \
month port2
3     5     -0.000588  0.059392 -0.002934 -0.001264 -0.000998  0.450176
      6     -0.000547  0.022802 -0.002996 -0.001254 -0.000987  0.427160
      7     -0.000538  0.016700 -0.003045 -0.001217 -0.001045  0.457233
      8     -0.000545  0.018477 -0.003053 -0.001198 -0.001025  0.455310
      9     -0.000692 -0.020659 -0.003392 -0.001499 -0.001195  0.599988

              betadef   betainf
month port2
3     5     -0.039673 -1.001398
      6     -0.038478 -1.068538
      7     -0.038681 -1.064219
      8     -0.038141 -1.083719
      9     -0.033440 -0.274753

In [61]:
portbetamean2 = portbeta2.reset_index().groupby(['month', 'port2'])['beta','betag', 'betasmb','betahml','betamom','betatrm','betadef','betainf'].mean()
portbetamean2 = DataFrame(portbetamean2)
portbetamean2.tail()

                 beta     betag   betasmb   betahml   betamom   betatrm  \
month port2
3     5     -0.000604  0.001322 -0.003320 -0.001321 -0.001130  0.519855
      6     -0.000576  0.006951 -0.003006 -0.001259 -0.000966  0.465298
      7     -0.000539  0.003801 -0.003096 -0.001255 -0.001086  0.500287
      8     -0.000494  0.003073 -0.003537 -0.001148 -0.001173  0.537153
      9     -0.000157  0.002382 -0.002735 -0.000816 -0.000839  0.483730

              betadef   betainf
month port2
3     5     -0.036746 -0.733285
      6     -0.039515 -0.987611
      7     -0.035735 -0.846805
      8     -0.029489 -0.836621
      9     -0.047264 -0.723547

In [62]:
portmeanret2 = portmeanret2.join(portbetahut2)
portmeanret2.head(3)

                  Date       exr       YTM  Mkt-RF   HML   SMB   MOM   DEF  \
month port2
0     0     2017-01-06 -0.001583  0.028350   -0.92 -0.67 -0.41 -0.37 -0.03
      0     2017-02-06  0.000447  0.028081   -0.29 -0.69 -0.41 -0.23  0.04
      0     2017-03-07 -0.000895  0.029504    0.43  0.34  0.30  0.08 -0.02

               TERM  Inflation        CR     Green      beta     betag  \
month port2
0     0      0.0140     0.0196  1.864865  0.351351  0.000114 -0.015568
      0      0.0133     0.0202  1.864865  0.351351  0.000114 -0.015568
      0      0.0124     0.0203  1.861111  0.361111  0.000114 -0.015568

              betasmb   betahml   betamom   betatrm   betadef   betainf
month port2
0     0      0.000014 -0.001359  0.000965  0.468085 -0.028891 -0.374451
      0      0.000014 -0.001359  0.000965  0.468085 -0.028891 -0.374451
      0      0.000014 -0.001359  0.000965  0.468085 -0.028891 -0.374451

In [63]:
df41 = DataFrame(portmeanret2.groupby(['month']).apply(ols_beta,['beta','betag', 'betasmb','betahml','betamom','betatrm','betadef','betainf'], ['exr']))
df42 = DataFrame(portmeanret2.groupby(['month']).apply(ols_beta1,['beta','betag', 'betasmb','betahml','betamom','betatrm','betadef','betainf'], ['exr']))
df43 = DataFrame(portmeanret2.groupby(['month']).apply(ols_beta2,['beta','betag', 'betasmb','betahml','betamom','betatrm','betadef','betainf'], ['exr']))
df42
#df42.head()

,const,beta,betag,betasmb,betahml,betamom,betatrm,betadef,betainf
month,,,,,,,,,
0,0.643156,0.959352,0.960717,0.951225,0.965875,0.993385,0.978951,0.924992,0.974705
1,0.895154,0.956473,0.947523,0.965749,0.986897,0.967831,0.980240,0.917689,0.952809
2,0.783073,0.967371,0.927855,0.876764,0.950476,0.884205,0.911038,0.878082,0.939250
3,0.947291,0.970136,0.969625,0.964165,0.991563,0.977879,0.964980,0.964381,0.972759

In [64]:
df41

,const,beta,betag,betasmb,betahml,betamom,betatrm,betadef,betainf
month,,,,,,,,,
0,-0.008999,0.621519,-0.002328,-0.420352,-0.388368,-0.085006,0.000573,-0.038189,-0.000217
1,-0.007043,1.902375,0.000770,1.072016,-0.100745,1.024221,0.001987,-0.025790,0.000561
2,-0.007275,-0.332485,-0.001599,2.168258,-0.329859,-2.520963,0.006304,0.027062,-0.000820
3,-0.016198,-0.874349,0.004491,-2.620411,-0.314556,-0.856425,-0.003517,-0.053821,-0.000429

In [65]:
df43

              0
month
0      0.710001
1      0.498515
2      0.570315
3      0.519251

In [66]:
from scipy.stats import ttest_1samp
print('mean Beta:', df41.const.mean())
ttest_1samp(df41.const, 0)

mean Beta: -0.009878792612875532

Ttest_1sampResult(statistic=-4.592073967227058, pvalue=0.019402553716460914)

In [67]:
print('mean Beta:', df41.beta.mean())
ttest_1samp(df41.beta, 0)

mean Beta: 0.3292649640626255

Ttest_1sampResult(statistic=0.5409010963121794, pvalue=0.6261560284156911)

In [68]:
print('mean Beta:', df41.betag.mean())
ttest_1samp(df41.betag, 0)

mean Beta: 0.00033364872259597305

Ttest_1sampResult(statistic=0.21727519829195535, pvalue=0.8419320816786693)

In [69]:
print('mean Beta:', df41.betasmb.mean())
ttest_1samp(df41.betasmb, 0)

mean Beta: 0.04987742056541766

Ttest_1sampResult(statistic=0.048136179345484933, pvalue=0.9646330520377547)

In [70]:
print('mean Beta:', df41.betamom.mean())
ttest_1samp(df41.betamom, 0)

mean Beta: -0.6095431932180281

Ttest_1sampResult(statistic=-0.8182709100686155, pvalue=0.47314893954402026)

In [71]:
print('mean Beta:', df41.betatrm.mean())
ttest_1samp(df41.betatrm, 0)

mean Beta: 0.001336741264001786

Ttest_1sampResult(statistic=0.6598690477065599, pvalue=0.5564749021298432)

In [72]:
print('mean Beta:', df41.betadef.mean())
ttest_1samp(df41.betadef, 0)

mean Beta: -0.022684734693805567

Ttest_1sampResult(statistic=-1.2928938304039637, pvalue=0.2866133273642159)

In [73]:
print('mean Beta:', df41.betainf.mean())
ttest_1samp(df41.betainf, 0)

mean Beta: -0.00022615156001092092

Ttest_1sampResult(statistic=-0.7782289077260539, pvalue=0.4931740239211638)

In [74]:
print('mean Beta:', df41.betahml.mean())
ttest_1samp(df41.betahml, 0)

mean Beta: -0.2833819260164113

Ttest_1sampResult(statistic=-4.503699876591238, pvalue=0.020445194318523888)

In [75]:
X = Bonds[["Green", "Mkt-RF"]]
y = Bonds["exr"]
y1 = Bonds['YTM']
X3 = Bonds[['Green', 'Mkt-RF', 'SMB', 'HML']]
X4= Bonds[['Green', 'Mkt-RF', 'SMB', 'HML', 'MOM']]
X5 = Bonds[['Green', 'Mkt-RF', 'SMB', 'HML', 'MOM', 'TERM', 'DEF', 'Inflation']]
X6 = Bonds[['Green', 'Mkt-RF', 'SMB', 'HML', 'MOM', 'TERM', 'DEF']]

In [76]:
model = sm.OLS(y, X).fit()
predictions = model.predict(X)

In [77]:
model1 = sm.OLS(y, X3).fit()

In [78]:
model2 = sm.OLS(y, X3).fit()

In [79]:
model3 = sm.OLS(y, X4).fit()

In [80]:
model4 = sm.OLS(y, X5).fit()

In [81]:
model5 = sm.OLS(y, X6).fit()

In [82]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    exr   R-squared:                       0.191
Model:                            OLS   Adj. R-squared:                  0.191
Method:                 Least Squares   F-statistic:                     4200.
Date:                Fri, 31 May 2019   Prob (F-statistic):               0.00
Time:                        06:04:16   Log-Likelihood:             1.2553e+05
No. Observations:               35493   AIC:                        -2.511e+05
Df Residuals:                   35491   BIC:                        -2.510e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Green         -0.0058   6.39e-05    -91.573      0.000      -0.006      -0.006
Mkt-RF         0.0002   4.48e-05      5.417      0.000       0.000       0.000
==============================================================================
Omnibus:                     3888.201   Durbin-Watson:                   0.072
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            14354.601
Skew:                           0.523   Prob(JB):                         0.00
Kurtosis:                       5.934   Cond. No.                         1.43
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [83]:
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    exr   R-squared:                       0.196
Model:                            OLS   Adj. R-squared:                  0.196
Method:                 Least Squares   F-statistic:                     2166.
Date:                Fri, 31 May 2019   Prob (F-statistic):               0.00
Time:                        06:04:17   Log-Likelihood:             1.2564e+05
No. Observations:               35493   AIC:                        -2.513e+05
Df Residuals:                   35489   BIC:                        -2.512e+05
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Green         -0.0058   6.38e-05    -90.760      0.000      -0.006      -0.006
Mkt-RF         0.0005   4.93e-05     11.087      0.000       0.000       0.001
SMB         6.987e-05   8.78e-05      0.796      0.426      -0.000       0.000
HML            0.0011   7.42e-05     14.604      0.000       0.001       0.001
==============================================================================
Omnibus:                     3876.595   Durbin-Watson:                   0.072
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            14526.556
Skew:                           0.517   Prob(JB):                         0.00
Kurtosis:                       5.959   Cond. No.                         2.13
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [84]:
model4.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    exr   R-squared:                       0.706
Model:                            OLS   Adj. R-squared:                  0.705
Method:                 Least Squares   F-statistic:                 1.063e+04
Date:                Fri, 31 May 2019   Prob (F-statistic):               0.00
Time:                        06:04:17   Log-Likelihood:             1.4345e+05
No. Observations:               35493   AIC:                        -2.869e+05
Df Residuals:                   35485   BIC:                        -2.868e+05
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Green       2.168e-05   4.75e-05      0.456      0.648   -7.14e-05       0.000
Mkt-RF         0.0002   2.99e-05      7.338      0.000       0.000       0.000
SMB           -0.0005   5.33e-05     -8.614      0.000      -0.001      -0.000
HML            0.0003   4.52e-05      6.418      0.000       0.000       0.000
MOM            0.0003   3.79e-05      8.667      0.000       0.000       0.000
TERM           0.6008      0.005    117.896      0.000       0.591       0.611
DEF           -0.0214      0.001    -15.706      0.000      -0.024      -0.019
Inflation     -0.7164      0.004   -191.199      0.000      -0.724      -0.709
==============================================================================
Omnibus:                    13433.923   Durbin-Watson:                   0.158
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           244351.083
Skew:                           1.354   Prob(JB):                         0.00
Kurtosis:                      15.565   Cond. No.                         244.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [85]:
model3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    exr   R-squared:                       0.196
Model:                            OLS   Adj. R-squared:                  0.196
Method:                 Least Squares   F-statistic:                     1733.
Date:                Fri, 31 May 2019   Prob (F-statistic):               0.00
Time:                        06:04:18   Log-Likelihood:             1.2564e+05
No. Observations:               35493   AIC:                        -2.513e+05
Df Residuals:                   35488   BIC:                        -2.512e+05
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Green         -0.0058   6.38e-05    -90.717      0.000      -0.006      -0.006
Mkt-RF         0.0005   4.93e-05     11.128      0.000       0.000       0.001
SMB         7.148e-05   8.78e-05      0.814      0.416      -0.000       0.000
HML            0.0011   7.44e-05     14.653      0.000       0.001       0.001
MOM        -7.443e-05   6.22e-05     -1.197      0.231      -0.000    4.75e-05
==============================================================================
Omnibus:                     3883.024   Durbin-Watson:                   0.072
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            14580.249
Skew:                           0.517   Prob(JB):                         0.00
Kurtosis:                       5.964   Cond. No.                         2.14
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [86]:
model5.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    exr   R-squared:                       0.402
Model:                            OLS   Adj. R-squared:                  0.402
Method:                 Least Squares   F-statistic:                     3410.
Date:                Fri, 31 May 2019   Prob (F-statistic):               0.00
Time:                        06:04:19   Log-Likelihood:             1.3089e+05
No. Observations:               35493   AIC:                        -2.618e+05
Df Residuals:                   35486   BIC:                        -2.617e+05
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Green         -0.0017   6.64e-05    -25.591      0.000      -0.002      -0.002
Mkt-RF         0.0006   4.25e-05     14.351      0.000       0.001       0.001
SMB        -8.918e-06   7.59e-05     -0.118      0.906      -0.000       0.000
HML            0.0005   6.45e-05      7.567      0.000       0.000       0.001
MOM        -6.906e-05   5.39e-05     -1.280      0.200      -0.000    3.67e-05
TERM          -0.3015      0.003   -110.034      0.000      -0.307      -0.296
DEF           -0.0253      0.002    -13.013      0.000      -0.029      -0.021
==============================================================================
Omnibus:                     3700.070   Durbin-Watson:                   0.078
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10905.698
Skew:                           0.563   Prob(JB):                         0.00
Kurtosis:                       5.471   Cond. No.                         75.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [87]:
Bonds['MKTRF'] = Bonds['Mkt-RF']
Bonds = Bonds.drop(['Mkt-RF'], axis=1)

In [88]:
def ols_res3(df, xcols,  ycol):
    X = df[xcols]
    return sm.OLS(df[ycol], X).fit().params

In [89]:
def ols_res4(df, xcols,  ycol):
    X = df[xcols]
    return sm.OLS(df[ycol], X).fit().pvalues

In [90]:
def ols_res5(df, xcols,  ycol):
    X = df[xcols]
    return sm.OLS(df[ycol], X).fit().rsquared_adj

In [91]:
POls = Bonds.groupby(['Credit Rating']).apply(ols_res3, ['MKTRF', 'Green'], ['exr'])
POls = pd.DataFrame(POls)
POls1 = Bonds.groupby(['Credit Rating']).apply(ols_res4, ['MKTRF', 'Green'], ['exr'])
POls1 = pd.DataFrame(POls1)
POls12 = Bonds.groupby(['Credit Rating']).apply(ols_res5, ['MKTRF', 'Green'], ['exr'])
POls12 = pd.DataFrame(POls12)
POls=POls.T
POls

Credit Rating         A        AA       AAA       BBB      BBB-
MKTRF          0.000206  0.000235  0.000249  0.000252  0.000391
Green         -0.005839 -0.005843 -0.005861 -0.005835 -0.005795

In [92]:
POls1=POls1.T
POls1

Credit Rating              A             AA       AAA       BBB          BBB-
MKTRF           7.223238e-02   8.730405e-02  0.000071  0.009443  1.675176e-01
Green          4.930764e-158  2.036010e-170  0.000000  0.000000  2.550670e-83

In [93]:
POls12=POls12.T
POls12

Credit Rating         A        AA       AAA       BBB      BBB-
0              0.112093  0.191187  0.215474  0.177549  0.559052

In [94]:
POls13= Bonds.groupby(['month','Credit Rating']).apply(ols_res3, ['MKTRF', 'Green'], ['exr'])
POls13 = pd.DataFrame(POls13)
POls14 = Bonds.groupby(['month', 'Credit Rating']).apply(ols_res4, ['MKTRF', 'Green'], ['exr'])
POls14 = pd.DataFrame(POls14)
POls15 = Bonds.groupby(['month', 'Credit Rating']).apply(ols_res5, ['MKTRF', 'Green'], ['exr'])
POls15 = pd.DataFrame(POls15)
POls13

                        MKTRF     Green
month Credit Rating
0     A              0.001039 -0.007142
      AA             0.000926 -0.007119
      AAA            0.000951 -0.007136
      BBB            0.000983 -0.007025
      BBB-           0.000738 -0.006991
1     A              0.001991 -0.005028
      AA             0.002000 -0.005034
      AAA            0.001929 -0.005106
      BBB            0.001940 -0.005070
      BBB-           0.001538 -0.005073
2     A             -0.000664 -0.005874
      AA            -0.000573 -0.005865
      AAA           -0.000566 -0.005871
      BBB           -0.000561 -0.005897
      BBB-          -0.000034 -0.005817
3     A             -0.001030 -0.005377
      AA            -0.000999 -0.005457
      AAA           -0.000886 -0.005414
      BBB           -0.000914 -0.005355
      BBB-          -0.000499 -0.005588

In [95]:
POls14

                            MKTRF          Green
month Credit Rating
0     A              5.826982e-04   9.559467e-34
      AA             1.125847e-02   8.071216e-36
      AAA            6.598959e-09  1.366062e-194
      BBB            1.335903e-04   4.143460e-66
      BBB-           2.362816e-01   1.183921e-20
1     A              4.557533e-19   2.966711e-42
      AA             1.631165e-14   1.116554e-47
      AAA            2.648457e-60  7.088936e-265
      BBB            3.848534e-26   3.333893e-91
      BBB-           9.457396e-03   5.691084e-22
2     A              2.150837e-04   4.381248e-64
      AA             8.213871e-03   2.225519e-67
      AAA            1.744558e-08   0.000000e+00
      BBB            2.670145e-04  1.173140e-128
      BBB-           9.389254e-01   1.553458e-33
3     A              8.038633e-05   8.468420e-21
      AA             1.835503e-03   3.376175e-22
      AAA            9.202624e-10  4.341722e-115
      BBB            4.826996e-05   4.276115e-40
      BBB-           4.643048e-01   1.217339e-11

In [96]:
POls15

                            0
month Credit Rating
0     A              0.153466
      AA             0.249613
      AAA            0.283643
      BBB            0.230964
      BBB-           0.698465
1     A              0.129214
      AA             0.207072
      AAA            0.230928
      BBB            0.193515
      BBB-           0.506332
2     A              0.120532
      AA             0.195794
      AAA            0.215498
      BBB            0.183651
      BBB-           0.558650
3     A              0.122424
      AA             0.193863
      AAA            0.215358
      BBB            0.175358
      BBB-           0.540018

In [97]:
POls2 = Bonds.groupby(['Credit Rating']).apply(ols_res3, ['MKTRF', 'Green','SMB', 'HML'], ['exr'])
POls2 = pd.DataFrame(POls2)
POls21 = Bonds.groupby(['Credit Rating']).apply(ols_res4, ['MKTRF', 'Green','SMB', 'HML'], ['exr'])
POls21 = pd.DataFrame(POls21)
POls22 = Bonds.groupby(['Credit Rating']).apply(ols_res5, ['MKTRF', 'Green','SMB', 'HML'], ['exr'])
POls22 = pd.DataFrame(POls22)
POls2=POls2.T
POls2

Credit Rating         A        AA       AAA       BBB      BBB-
MKTRF          0.000543  0.000542  0.000540  0.000570  0.000479
Green         -0.005775 -0.005786 -0.005806 -0.005776 -0.005786
SMB            0.000096  0.000050  0.000076  0.000072 -0.000375
HML            0.001219  0.001089  0.001041  0.001127  0.000248

In [98]:
POls21=POls21.T
POls21

Credit Rating,A,AA,AAA,BBB,BBB-
MKTRF,1.574783e-05,3.454494e-04,4.932085e-15,1.013002e-07,1.225025e-01
Green,2.097215e-155,1.060832e-167,0.000000e+00,0.000000e+00,2.548105e-82
SMB,6.685264e-01,8.540192e-01,5.350173e-01,7.061154e-01,4.901576e-01
HML,1.167417e-10,1.792093e-06,1.655607e-23,3.034005e-12,5.807062e-01

In [99]:
POls22=POls22.T
POls22

Credit Rating         A        AA       AAA       BBB     BBB-
0              0.117919  0.195841  0.219816  0.182607  0.55795

In [100]:
POls23= Bonds.groupby(['month', 'Credit Rating']).apply(ols_res3, ['MKTRF', 'Green','SMB', 'HML'], ['exr'])
POls23 = pd.DataFrame(POls23)
POls24 = Bonds.groupby(['month', 'Credit Rating']).apply(ols_res4, ['MKTRF', 'Green','SMB', 'HML'], ['exr'])
POls24 = pd.DataFrame(POls24)
POls25 = Bonds.groupby(['month', 'Credit Rating']).apply(ols_res5, ['MKTRF', 'Green','SMB', 'HML'], ['exr'])
POls25 = pd.DataFrame(POls25)
POls23

                        MKTRF     Green       SMB       HML
month Credit Rating
0     A              0.001492 -0.006691  0.000897  0.002645
      AA             0.001300 -0.006760  0.000717  0.002089
      AAA            0.001292 -0.006809  0.000673  0.001912
      BBB            0.001350 -0.006672  0.000644  0.002077
      BBB-           0.000717 -0.007042  0.000353 -0.000408
1     A              0.001744 -0.004986 -0.000915 -0.001487
      AA             0.001771 -0.004998 -0.000808 -0.001316
      AAA            0.001672 -0.005075 -0.000609 -0.001332
      BBB            0.001701 -0.005037 -0.000695 -0.001297
      BBB-           0.001378 -0.005041 -0.000713 -0.001047
2     A              0.000397 -0.005701  0.000030  0.002886
      AA             0.000448 -0.005698  0.000039  0.002781
      AAA            0.000450 -0.005701  0.000077  0.002771
      BBB            0.000515 -0.005721  0.000102  0.002931
      BBB-           0.000477 -0.005737 -0.000175  0.001336
3     A             -0.001276 -0.005463 -0.000610 -0.000966
      AA            -0.001274 -0.005568 -0.000833 -0.001065
      AAA           -0.001175 -0.005545 -0.001024 -0.001136
      BBB           -0.001202 -0.005475 -0.000904 -0.001108
      BBB-          -0.000760 -0.005856 -0.002227 -0.001221

In [101]:
POls24

                            MKTRF          Green       SMB           HML
month Credit Rating
0     A              1.527910e-06   2.005047e-30  0.155773  1.578289e-07
      AA             6.095221e-04   1.731641e-32  0.353726  7.091677e-04
      AAA            3.024883e-14  1.073372e-176  0.052162  5.993825e-12
      BBB            4.377831e-07   6.949479e-60  0.236645  1.753591e-06
      BBB-           2.679349e-01   2.252940e-19  0.790898  7.027984e-01
1     A              2.413146e-13   6.311873e-42  0.029003  1.773914e-05
      AA             2.116011e-10   2.493372e-47  0.102167  1.223195e-03
      AAA            3.233246e-40  1.326689e-263  0.006464  4.829838e-13
      BBB            4.872638e-18   1.232520e-90  0.046067  6.672375e-06
      BBB-           2.900528e-02   1.394821e-21  0.526024  2.376858e-01
2     A              5.526345e-02   1.183997e-62  0.928467  1.611959e-21
      AA             7.482234e-02   5.824617e-66  0.924002  6.137333e-14
      AAA            1.127951e-04   0.000000e+00  0.682088  1.345056e-58
      BBB            3.902142e-03  6.437338e-126  0.724357  1.282619e-28
      BBB-           3.589206e-01   9.293365e-33  0.829942  6.348739e-02
3     A              9.034635e-06   3.328840e-21  0.287080  3.691335e-02
      AA             3.019308e-04   1.215359e-22  0.237561  5.691422e-02
      AAA            1.267465e-13  1.683730e-118  0.001314  7.470045e-06
      BBB            1.193274e-06   3.300260e-41  0.068358  4.940059e-03
      BBB-           3.058067e-01   7.042755e-12  0.131853  2.968161e-01

In [102]:
POls25

                            0
month Credit Rating
0     A              0.180572
      AA             0.264945
      AAA            0.297618
      BBB            0.246835
      BBB-           0.690652
1     A              0.137323
      AA             0.213408
      AAA            0.237866
      BBB            0.199848
      BBB-           0.504783
2     A              0.153508
      AA             0.226257
      AAA            0.244549
      BBB            0.216536
      BBB-           0.562654
3     A              0.125457
      AA             0.197617
      AAA            0.223084
      BBB            0.181398
      BBB-           0.547342

In [103]:
POls3 = Bonds.groupby(['Credit Rating']).apply(ols_res3, ['MKTRF', 'Green','SMB', 'HML','MOM', 'TERM', 'DEF', 'Inflation'], ['exr'])
POls3 = pd.DataFrame(POls3)
POls31 = Bonds.groupby(['Credit Rating']).apply(ols_res4, ['MKTRF', 'Green','SMB', 'HML','MOM', 'TERM', 'DEF', 'Inflation'], ['exr'])
POls31 = pd.DataFrame(POls31)
POls32 = Bonds.groupby(['Credit Rating']).apply(ols_res5, ['MKTRF', 'Green','SMB', 'HML','MOM', 'TERM', 'DEF', 'Inflation'], ['exr'])
POls32 = pd.DataFrame(POls32)
POls3

,MKTRF,Green,SMB,HML,MOM,TERM,DEF,Inflation
Credit Rating,,,,,,,,
A,0.000209,-0.000039,-0.000499,0.000274,0.000334,0.602665,-0.023046,-0.714240
AA,0.000217,0.000011,-0.000464,0.000285,0.000293,0.596162,-0.021207,-0.712297
AAA,0.000218,0.000037,-0.000434,0.000295,0.000343,0.603009,-0.022345,-0.719251
BBB,0.000233,0.000074,-0.000473,0.000295,0.000305,0.597962,-0.017838,-0.716307
BBB-,0.000220,-0.002591,-0.000560,0.000325,0.000326,0.537385,-0.023513,-0.536525

In [104]:
POls31

,MKTRF,Green,SMB,HML,MOM,TERM,DEF,Inflation
Credit Rating,,,,,,,,
A,4.649054e-03,0.776308,1.476316e-04,0.014172,3.355240e-04,0.000000e+00,6.485512e-12,0.000000e+00
AA,1.546778e-02,0.938238,3.657009e-03,0.035150,1.007071e-02,9.278323e-279,2.222748e-07,0.000000e+00
AAA,3.099963e-07,0.574279,1.123597e-08,0.000005,2.375845e-10,0.000000e+00,2.283648e-30,0.000000e+00
BBB,2.606940e-04,0.476499,3.248427e-05,0.002256,1.644887e-04,0.000000e+00,1.044741e-09,0.000000e+00
BBB-,4.027312e-01,0.000104,2.255743e-01,0.394414,3.226279e-01,1.603029e-33,4.113595e-02,1.205151e-26

In [105]:
POls32 = POls32.T
POls32

Credit Rating         A        AA       AAA       BBB      BBB-
0              0.696949  0.720408  0.703592  0.710488  0.683364

In [106]:
POls33= Bonds.groupby(['month', 'Credit Rating']).apply(ols_res3, ['MKTRF', 'Green','SMB', 'HML'], ['exr'])
POls33 = pd.DataFrame(POls33)
POls34 = Bonds.groupby(['month', 'Credit Rating']).apply(ols_res4, ['MKTRF', 'Green','SMB', 'HML'], ['exr'])
POls34 = pd.DataFrame(POls34)
POls35 = Bonds.groupby(['month', 'Credit Rating']).apply(ols_res5, ['MKTRF', 'Green','SMB', 'HML'], ['exr'])
POls35 = pd.DataFrame(POls35)
POls33

                        MKTRF     Green       SMB       HML
month Credit Rating
0     A              0.001492 -0.006691  0.000897  0.002645
      AA             0.001300 -0.006760  0.000717  0.002089
      AAA            0.001292 -0.006809  0.000673  0.001912
      BBB            0.001350 -0.006672  0.000644  0.002077
      BBB-           0.000717 -0.007042  0.000353 -0.000408
1     A              0.001744 -0.004986 -0.000915 -0.001487
      AA             0.001771 -0.004998 -0.000808 -0.001316
      AAA            0.001672 -0.005075 -0.000609 -0.001332
      BBB            0.001701 -0.005037 -0.000695 -0.001297
      BBB-           0.001378 -0.005041 -0.000713 -0.001047
2     A              0.000397 -0.005701  0.000030  0.002886
      AA             0.000448 -0.005698  0.000039  0.002781
      AAA            0.000450 -0.005701  0.000077  0.002771
      BBB            0.000515 -0.005721  0.000102  0.002931
      BBB-           0.000477 -0.005737 -0.000175  0.001336
3     A             -0.001276 -0.005463 -0.000610 -0.000966
      AA            -0.001274 -0.005568 -0.000833 -0.001065
      AAA           -0.001175 -0.005545 -0.001024 -0.001136
      BBB           -0.001202 -0.005475 -0.000904 -0.001108
      BBB-          -0.000760 -0.005856 -0.002227 -0.001221

In [107]:
X7 = Bonds[["Green", "MKTRF", 'CR']]
y = Bonds["exr"]
y1 = Bonds['YTM']
X8 = Bonds[['Green', 'MKTRF', 'SMB', 'HML','CR']]
X9= Bonds[['Green', 'MKTRF', 'SMB', 'HML', 'MOM','CR']]
X10 = Bonds[['Green', 'MKTRF', 'SMB', 'HML', 'MOM', 'TERM', 'DEF', 'Inflation','CR']]
X11 = Bonds[['Green', 'SMB','MOM','TERM', 'DEF','Inflation','CR']]

In [108]:
model7 = sm.OLS(y1, X7).fit()
model8 = sm.OLS(y1, X8).fit()
model9 = sm.OLS(y1, X9).fit()
model10 = sm.OLS(y1, X10).fit()
model11 = sm.OLS(y1, X11).fit()

In [109]:
model7.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    YTM   R-squared:                       0.777
Model:                            OLS   Adj. R-squared:                  0.777
Method:                 Least Squares   F-statistic:                 4.113e+04
Date:                Fri, 31 May 2019   Prob (F-statistic):               0.00
Time:                        06:04:34   Log-Likelihood:                 98016.
No. Observations:               35493   AIC:                        -1.960e+05
Df Residuals:                   35490   BIC:                        -1.960e+05
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Green          0.0113      0.000     67.777      0.000       0.011       0.012
MKTRF       8.128e-05   9.73e-05      0.835      0.403      -0.000       0.000
CR             0.0118   4.76e-05    247.775      0.000       0.012       0.012
==============================================================================
Omnibus:                     1503.851   Durbin-Watson:                   1.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1143.969
Skew:                           0.349   Prob(JB):                    3.89e-249
Kurtosis:                       2.465   Cond. No.                         4.36
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [110]:
model8.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    YTM   R-squared:                       0.777
Model:                            OLS   Adj. R-squared:                  0.777
Method:                 Least Squares   F-statistic:                 2.474e+04
Date:                Fri, 31 May 2019   Prob (F-statistic):               0.00
Time:                        06:04:35   Log-Likelihood:                 98051.
No. Observations:               35493   AIC:                        -1.961e+05
Df Residuals:                   35488   BIC:                        -1.960e+05
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Green          0.0113      0.000     67.724      0.000       0.011       0.012
MKTRF         -0.0003      0.000     -2.609      0.009      -0.000   -6.96e-05
SMB           -0.0004      0.000     -2.073      0.038      -0.001   -2.17e-05
HML           -0.0013      0.000     -8.244      0.000      -0.002      -0.001
CR             0.0118   4.76e-05    246.776      0.000       0.012       0.012
==============================================================================
Omnibus:                     1486.959   Durbin-Watson:                   0.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1133.941
Skew:                           0.347   Prob(JB):                    5.86e-247
Kurtosis:                       2.467   Cond. No.                         5.03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [111]:
model9.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    YTM   R-squared:                       0.777
Model:                            OLS   Adj. R-squared:                  0.777
Method:                 Least Squares   F-statistic:                 2.062e+04
Date:                Fri, 31 May 2019   Prob (F-statistic):               0.00
Time:                        06:04:36   Log-Likelihood:                 98054.
No. Observations:               35493   AIC:                        -1.961e+05
Df Residuals:                   35487   BIC:                        -1.960e+05
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Green          0.0113      0.000     67.719      0.000       0.011       0.012
MKTRF         -0.0003      0.000     -2.719      0.007      -0.001   -8.14e-05
SMB           -0.0004      0.000     -2.115      0.034      -0.001   -2.97e-05
HML           -0.0014      0.000     -8.426      0.000      -0.002      -0.001
MOM            0.0004      0.000      2.636      0.008    9.15e-05       0.001
CR             0.0118   4.76e-05    246.665      0.000       0.012       0.012
==============================================================================
Omnibus:                     1484.777   Durbin-Watson:                   0.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1132.497
Skew:                           0.347   Prob(JB):                    1.21e-246
Kurtosis:                       2.468   Cond. No.                         5.04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [112]:
model10.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    YTM   R-squared:                       0.963
Model:                            OLS   Adj. R-squared:                  0.963
Method:                 Least Squares   F-statistic:                 1.034e+05
Date:                Fri, 31 May 2019   Prob (F-statistic):               0.00
Time:                        06:04:37   Log-Likelihood:             1.3006e+05
No. Observations:               35493   AIC:                        -2.601e+05
Df Residuals:                   35484   BIC:                        -2.600e+05
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Green          0.0044   6.98e-05     62.346      0.000       0.004       0.004
MKTRF      -7.144e-06   4.37e-05     -0.164      0.870   -9.27e-05    7.84e-05
SMB            0.0002   7.78e-05      2.521      0.012    4.36e-05       0.000
HML        -8.105e-05    6.6e-05     -1.228      0.219      -0.000    4.83e-05
MOM           -0.0002   5.53e-05     -3.795      0.000      -0.000      -0.000
TERM          -0.2226      0.007    -29.866      0.000      -0.237      -0.208
DEF            0.0128      0.002      6.420      0.000       0.009       0.017
Inflation      1.6230      0.006    271.041      0.000       1.611       1.635
CR             0.0006   3.28e-05     19.584      0.000       0.001       0.001
==============================================================================
Omnibus:                      256.744   Durbin-Watson:                   1.845
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              213.859
Skew:                           0.127   Prob(JB):                     3.64e-47
Kurtosis:                       2.716   Cond. No.                         579.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [113]:
model11.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    YTM   R-squared:                       0.963
Model:                            OLS   Adj. R-squared:                  0.963
Method:                 Least Squares   F-statistic:                 1.330e+05
Date:                Fri, 31 May 2019   Prob (F-statistic):               0.00
Time:                        06:04:37   Log-Likelihood:             1.3006e+05
No. Observations:               35493   AIC:                        -2.601e+05
Df Residuals:                   35486   BIC:                        -2.600e+05
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Green          0.0044   6.98e-05     62.348      0.000       0.004       0.004
SMB            0.0002   7.69e-05      2.744      0.006    6.02e-05       0.000
MOM           -0.0002   5.51e-05     -3.893      0.000      -0.000      -0.000
TERM          -0.2223      0.007    -29.919      0.000      -0.237      -0.208
DEF            0.0129      0.002      6.469      0.000       0.009       0.017
Inflation      1.6230      0.006    271.559      0.000       1.611       1.635
CR             0.0006   3.28e-05     19.588      0.000       0.001       0.001
==============================================================================
Omnibus:                      256.494   Durbin-Watson:                   1.845
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              213.778
Skew:                           0.127   Prob(JB):                     3.79e-47
Kurtosis:                       2.717   Cond. No.                         577.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [114]:
POls4 = Bonds.groupby(['Green']).apply(ols_res3, ['MKTRF', 'CR'], ['YTM'])
POls4 = pd.DataFrame(POls4)
POls41 = Bonds.groupby(['Green']).apply(ols_res4, ['MKTRF', 'CR'], ['YTM'])
POls41 = pd.DataFrame(POls41)
POls42 = Bonds.groupby(['Green']).apply(ols_res5, ['MKTRF', 'CR'], ['YTM'])
POls42 = pd.DataFrame(POls42)
POls4 = POls4.T
POls4

Green         0         1
MKTRF  0.000136  0.000041
CR     0.012820  0.014831

In [115]:
POls41 = POls41.T
POls41

Green         0         1
MKTRF  0.299377  0.798223
CR     0.000000  0.000000

In [116]:
POls42 = POls42.T
POls42

Green         0         1
0      0.701514  0.823081

In [117]:
POls5 = Bonds.groupby(['Green']).apply(ols_res3, ['MKTRF', 'CR', 'SMB', 'HML'], ['YTM'])
POls5 = pd.DataFrame(POls5)
POls51 = Bonds.groupby(['Green']).apply(ols_res4, ['MKTRF', 'CR','SMB', 'HML'], ['YTM'])
POls51 = pd.DataFrame(POls51)
POls52 = Bonds.groupby(['Green']).apply(ols_res5, ['MKTRF', 'CR','SMB', 'HML'], ['YTM'])
POls52 = pd.DataFrame(POls52)
POls5 = POls5.T
POls5

Green         0         1
MKTRF -0.000310 -0.000269
CR     0.012781  0.014805
SMB   -0.000546 -0.000292
HML   -0.001656 -0.001141

In [118]:
POls51 = POls51.T
POls51

Green             0         1
MKTRF  3.238213e-02  0.130886
CR     0.000000e+00  0.000000
SMB    3.425986e-02  0.359420
HML    3.496643e-14  0.000023

In [119]:
POls52 = POls52.T
POls52

Green         0         1
0      0.702237  0.823315

In [120]:
POls6 = Bonds.groupby(['Green']).apply(ols_res3, ['MKTRF', 'CR', 'SMB', 'HML','MOM','TERM','DEF','Inflation'], ['YTM'])
POls6 = pd.DataFrame(POls6)
POls61 = Bonds.groupby(['Green']).apply(ols_res4, ['MKTRF', 'CR','SMB', 'HML','MOM','TERM','DEF','Inflation'], ['YTM'])
POls61 = pd.DataFrame(POls61)
POls62 = Bonds.groupby(['Green']).apply(ols_res5, ['MKTRF', 'CR','SMB', 'HML','MOM','TERM','DEF','Inflation'], ['YTM'])
POls62 = pd.DataFrame(POls62)
POls6.tail()

,MKTRF,CR,SMB,HML,MOM,TERM,DEF,Inflation
Green,,,,,,,,
0,-0.000006,-0.000002,0.000192,-0.000073,-0.000203,-0.219166,0.012318,1.676912
1,-0.000016,0.002276,0.000179,-0.000110,-0.000223,-0.196794,0.014884,1.661677

In [121]:
POls6 = POls6.T
POls6

Green             0         1
MKTRF     -0.000006 -0.000016
CR        -0.000002  0.002276
SMB        0.000192  0.000179
HML       -0.000073 -0.000110
MOM       -0.000203 -0.000223
TERM      -0.219166 -0.196794
DEF        0.012318  0.014884
Inflation  1.676912  1.661677

In [122]:
POls61 = POls61.T
POls61

Green                  0              1
MKTRF       8.945074e-01   8.547873e-01
CR          9.635772e-01  1.050682e-205
SMB         2.015896e-02   2.576283e-01
HML         2.976383e-01   4.116303e-01
MOM         5.540849e-04   4.778597e-02
TERM       1.091247e-166   5.945744e-38
DEF         5.446397e-09   2.477940e-04
Inflation   0.000000e+00   0.000000e+00

In [123]:
POls62 = POls62.T
POls62

Green         0         1
0      0.969646  0.956405

In [124]:
POls7 = Bonds.groupby(['Green']).apply(ols_res3, [ 'CR', 'MOM','TERM','DEF','Inflation'], ['YTM'])
POls7 = pd.DataFrame(POls7)
POls71 = Bonds.groupby(['Green']).apply(ols_res4, ['CR', 'MOM','TERM','DEF','Inflation'], ['YTM'])
POls71 = pd.DataFrame(POls71)
POls72 = Bonds.groupby(['Green']).apply(ols_res5, ['CR', 'MOM','TERM','DEF','Inflation'], ['YTM'])
POls72 = pd.DataFrame(POls72)
POls7.tail()

             CR       MOM      TERM       DEF  Inflation
Green
0     -0.000002 -0.000205 -0.218025  0.012746   1.676269
1      0.002276 -0.000228 -0.195662  0.015327   1.661153

In [125]:
POls7= POls7.T
POls7

Green             0         1
CR        -0.000002  0.002276
MOM       -0.000205 -0.000228
TERM      -0.218025 -0.195662
DEF        0.012746  0.015327
Inflation  1.676269  1.661153

In [126]:
POls71 = POls71.T
POls71

Green                  0              1
CR          9.555797e-01  1.135366e-205
MOM         4.674630e-04   4.264300e-02
TERM       2.675657e-166   7.927683e-38
DEF         1.418723e-09   1.538510e-04
Inflation   0.000000e+00   0.000000e+00

In [127]:
POls72 = POls72.T
POls72

Green        0         1
0      0.96964  0.956407